<div class="title-block">
    <h3 class="title pull-left">
        Страница счета <span class="sparkline bar"></span>
    </h3>
    <div class="pull-right">
      <button class="btn-sm btn btn-primary-outline" (click)="onRefresh()" >
        <i class="fa fa-refresh"></i>
      </button>
    </div>
</div>
<section class="section">
    <div class="loading" *ngIf='!isLoaded' > Loading...</div>
    <div class="row" *ngIf='isLoaded' >
        <hmy-bill-card  [bill]="bill" [currency]="currency" ></hmy-bill-card>
        <hmy-currency-card [currency]="currency" ></hmy-currency-card>
    </div>
</section>